{{ define "main" }}
   
<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>IEEE SA Open Offering Roadmap</h1>
</span>
	</div>
</section>
<br />
<br />
<div class="row">
{{ $cols := split .Content "<split>" }}
    {{ $counter := 0 }}
    {{ range $cols }}
    {{ $counter = add $counter 1 }}
    <div class="col roadmap-col-{{ $counter }}">
   {{ . | markdownify }}
   </div>
{{ end }}

</div>

{{ end }}
