{{ define "main" }}

<a class="td-offset-anchor"></a>
<section class="row td-box td-box--1 position-relative td-box--gradient td-box--height-auto">
	<div class="container text-center td-arrow-down">
		<span class="h4 mb-0">
<h1>IEEE SA Open Offering Maturity</h1>
</span>
	</div>
</section>
<div class="td-content">
{{ .Content }}
</div>

{{ end }}
