+++
title = "Docsy"
linkTitle = "Docsy"

+++

{{< blocks/cover title="IEEE SA Open Documentation Portal!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" target="_blank" href="https://opensource.ieee.org">
	  Use<i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">This is the centeral portal for the IEEE SA Open Platform, <a href="https://opensource.ieee.org" target="_blank">https://opensource.ieee.org</a></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Docsy is a theme for the Hugo static site generator that's specifically designed for technical documentation sets. Our aim is to help you get a working documentation site up and running as easily as possible, so you can concentrate on creating great content for your users.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See Docsy in action!" url="/docs/examples/" %}}
As well as our example site, there's a growing number of projects using Docsy for their doc sites.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/google/docsy" %}}
We do a [Pull Request](https://gitlab.com/google/docsy/pulls) contributions workflow on **Gitlab**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
Find out about new features and how our users are using Docsy.
{{% /blocks/feature %}}


{{< /blocks/section >}}

